nav {
  width: 100vw;
  height: 65px;

  border-bottom: 2px solid rgb(250, 250, 250);
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  letter-spacing: 1.5px;

  background-color: rgb(250, 250, 250);
}

.nav {
  display: flex;
  list-style: none;
}

li:nth-child(-n + 3) {
  margin-right: 30px;
}

li:nth-child(4) {
  margin-left: auto;
}

.navLinks {
  h2 {
    margin-top: 1rem;
    color: #00344b;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  display: flex;
}

.logo {
  height: 50px;
  width: 50px;
  margin-left: 1rem;
}

.navBtns {
  cursor: pointer;

  margin-top: 1.2rem;
  margin-right: 2rem;

  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding: 2px 10px;
  background: none;

  border: 1.5px solid #5e6977;
  border-radius: 5px;

  transition: 0.2s ease-in;

  &:hover {
    border: 1.5px solid #448aff;
    background: #448aff;
    color: rgb(250, 250, 250);
  }

  &:focus {
    outline: none;
  }
}

.hamBurger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}

.lines {
  width: 35px;
  height: 3px;
  background-color: rgb(43, 43, 43);
  margin: 3px;
}

@media only screen and (max-width: 768px) {
  .hamBurger {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  li:nth-child(n + 2) {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
  }
  .nav {
    margin: 1rem auto;
  }

  /*Hamburger menu styling starts*/
  .burgerNav {
    top: 0;
    left: 0;
    height: 100vh;
    width: 50vw;
    position: absolute;
    box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
    background-color: rgb(250, 250, 250);
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .hamhamBurger {
    cursor: pointer;
    background: none;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .burgerNavLinks {
    cursor: pointer;
    width: 100%;
    margin: 2rem auto;
    h2 {
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
    }
    button {
      width: 100px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
